{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Hangman</title>
        <link rel="stylesheet" type="text/css" href="{%static 'css/hangman.css' %}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/stylesheet.css' %}">
    </head>
    <body>
        <div class="hangman-container">
            <img class="hangman-image" src="{%static 'images/hangman_images/hangman.png' %}">
        </div>
        <h2 class="guesses-count">Wrong Guesses: 0/7</h2>
        <h1 class="hiddenAnswer"></h1>
        <script src="{%static 'js/hangman.js' %}" data-answer="{{word}}"></script>
        <div class="keyboard">
            <div class="keyboardRow">
                <div class="key" onclick="clickKey(event)">Q</div>
                <div class="key" onclick="clickKey(event)">W</div>
                <div class="key" onclick="clickKey(event)">E</div>
                <div class="key" onclick="clickKey(event)">R</div>
                <div class="key" onclick="clickKey(event)">T</div>
                <div class="key" onclick="clickKey(event)">Y</div>
                <div class="key" onclick="clickKey(event)">U</div>
                <div class="key" onclick="clickKey(event)">I</div>
                <div class="key" onclick="clickKey(event)">O</div>
                <div class="key" onclick="clickKey(event)">P</div>
            </div>
            <div class="keyboardRow">
                <div class="key" onclick="clickKey(event)">A</div>
                <div class="key" onclick="clickKey(event)">S</div>
                <div class="key" onclick="clickKey(event)">D</div>
                <div class="key" onclick="clickKey(event)">F</div>
                <div class="key" onclick="clickKey(event)">G</div>
                <div class="key" onclick="clickKey(event)">H</div>
                <div class="key" onclick="clickKey(event)">J</div>
                <div class="key" onclick="clickKey(event)">K</div>
                <div class="key" onclick="clickKey(event)">L</div>
            </div>
            <div class="keyboardRow">
                <div class="key" onclick="clickKey(event)">Z</div>
                <div class="key" onclick="clickKey(event)">X</div>
                <div class="key" onclick="clickKey(event)">C</div>
                <div class="key" onclick="clickKey(event)">V</div>
                <div class="key" onclick="clickKey(event)">B</div>
                <div class="key" onclick="clickKey(event)">N</div>
                <div class="key" onclick="clickKey(event)">M</div>
            </div>
        </div>
        <input type="text" placeholder="Enter a Guess..." class="inputGuess" onkeyup="searchFunction(event)">
        <nav class="background">
            <div class="navbar">
                <div class="navbar-layout">
                    <div class="navbar-left">
                        <a href="#" class="navbar-title">EcoMap</a>
                    </div>

                    <div class="navbar-center">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="navbar-icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                            </svg>
                        </a>

                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="navbar-icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                            </svg>
                        </a>

                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="navbar-icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                            </svg>
                        </a>

                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="navbar-icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                            </svg>
                        </a>
                    </div>

                    <div class="navbar-right">
                        <a href="#">
                            <img src="https://th.bing.com/th/id/OIP.fIP83In9RmIv-DkWI5Xk_QHaHZ?w=50" class="avatar">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>