{% load static %}
<!-- map.html -->

<!DOCTYPE html>
<html>
<head>
    {% include 'ecomap/include/include.html'%}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0/>

    <title>Map</title>
</head>
<body>
    {% include 'ecomap/include/navbar.html'%}
    <div id="map-container">
        <div id="map"></div>
    </div>

    
    <script>
        // Initialize the map with a default view in forum
        var myMap = L.map('map').setView([50.735238, -3.533550], 17);
        // Add OpenStreetMap tile layer to the map
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(myMap);

        // Function to set map view to current location
        function onLocationFound(e) {
            var radius = e.accuracy / 2;
            var location = e.latlng;
        
            L.marker(location).addTo(myMap)
                .bindPopup("You are here").openPopup();
        
            L.circle(e.latlng, radius).addTo(myMap);
        }

        // Function to alert the user if geolocation failed
        function onLocationError(e) {
            alert(e.message);
        }
        
        myMap.on('locationfound', onLocationFound);
        myMap.on('locationerror', onLocationError);
        
        // Request the current position. If successful, onLocationFound will be called.
        // If unsuccessful, onLocationError will be called.
        myMap.locate({setView: true, maxZoom: 19});

        // QR code location marker
        L.marker([50.735116, -3.533840]).addTo(myMap)
            .bindPopup('Scan QR Code in Forum');
        L.marker([50.736415, -3.531466]).addTo(myMap)
            .bindPopup('Scan QR Code outside Amory');
        L.marker([50.738016, -3.530512]).addTo(myMap)
            .bindPopup('Scan QR Code in SWIOT');
        L.marker([50.737577, -3.537009]).addTo(myMap)
            .bindPopup('Scan QR Code outside Sports Park');
        L.marker([50.735376, -3.537830]).addTo(myMap)        
            .bindPopup('Scan QR Code outside Reed Hall');
        L.marker([50.733040, -3.536765]).addTo(myMap)
            .bindPopup('Scan QR Code outside Washington Singer');
        L.marker([50.736068, -3.542516]).addTo(myMap)
            .bindPopup('Scan QR Code outside Birks Block M');
        
    </script>
</body>
</html>
