{% load static %}
<!-- map.html -->

<!DOCTYPE html>
<html>
<head>
    {% include 'ecomap/include/include.html'%}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <title>Map</title>
</head>
<body>
    {% include 'ecomap/include/navbar.html'%}
    <div id="map" style="width: 100%; height: 400px;"></div>

    
    <script>
        var myMap = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        
        // Example marker
        L.marker([51.5, -0.09]).addTo(myMap)
            .bindPopup('A basic popup example');
    </script>
</body>
</html>
