{% load static %}
<!-- qr code scanner from https://github.com/mebjas/html5-qrcode-->
<!DOCTYPE html>
<html>
    <head>
        {%include 'ecomap/include/include.html' %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>QR Code Scanner / Reader
    </title>
</head>
 
<body>
    {% include 'ecomap/include/navbar.html'%}
    <div id="container">
    <div id="reader">
    </div>
    </div>
    <script
            src="{%static 'js/html5-qrcode.min.js' %}">
    </script>    
    <script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function handleQrCode(decodeText, decodeResult)
    {

        alert("You Qr code is : " + decodeText, decodeResult);
        
        $.ajax({
            type: "POST",
            url: '/checkValidQrCode/',
            data: {
                "qrCode":decodeText,
                'csrfmiddlewaretoken': csrftoken ,
            },
            dataType: "json",
            success: function(data){
                if(data != 200)
                {
                    alert("invalid qr code")
                    
                    return
                }
                window.location.href="/wheel";

            },
            failure: function(){
                console.log("unkown error occured")
            }
            });
        
       
    }


    function domReady(fn) {
        if (
            document.readyState === "complete" ||
            document.readyState === "interactive"
            ) {
                setTimeout(fn, 1000);
            } else {
              document.addEventListener("DOMContentLoaded", fn);
        }
}
domReady(function () {
 

    let config = {fps:10, qrbox: {width:700,height:700}}

    let htmlscanner = new Html5QrcodeScanner(
        "reader",config);
    htmlscanner.render(handleQrCode);
});

    let reader = document.getElementById("reader");
    
    </script>
  </body>
</html>
