.inputGuess {
    background-color: #222222;
    color: white;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    position: absolute;
    left: 25%;
    width: 50%;
    text-transform: capitalize;
    border-radius: 10px;
}

.title {
    text-align: center;
}

.guesses-count {
    text-align: center;
    margin-bottom: 0%;
}

.hangman-container {
    position: relative;
}

.hangman-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.hangman {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hiddenAnswer {
    text-align: center;
}

.keyboard {
    position: relative;
    padding-top: 0%;
    align-items: center;
}

.keyboardRow {
    text-align: center;
}

.key {
    display: inline-block;
    border: 1px solid white;
    padding: 1.6%;
    background-color: #222222;
    margin-bottom: 5px;
    color: #BBBBBB;
    font-weight: bold;
    font-size: 105%;
    font-family: Arial;
    border-radius: 10%;
}

.key:hover {
    background-color: #555555;
    cursor: pointer;
}

.keyPressed {
    background-color: #0a0a0a;
    display: inline-block;
    border: 1px solid white;
    padding: 1.6%;
    margin-bottom: 5px;
    color: #555555;
    font-size: 105%;
    font-family: Arial;
    border-radius: 10%;
}

.wordle-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin: 20px auto;
    max-width: fit-content;
}

.square {
  background-color: white;
  border: 3px solid #CCCCCC;
  width: 51px;
  height: 49px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 105%;
  font-family: Arial;
}

.level-end {
	display: flex;
	position: absolute;
	width: 50%;
	height: 30%;
	left: 25%;
	top: 70%;
	background-color: #CCCCCC;
	border-radius: 10px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	font-size: 300%;
	color: #FFFFFF;
}
#level-completed {
	position: absolute;
	top: 70%;
	font-size: 50%;
}

.top {
	position:absolute;
	animation:slide-up 1.5s ease-out;
}
@keyframes slide-up {
	from{bottom:-1000px} to{bottom:10%}
}