.inputGuess {
    background-color: #2B3035;
    color: white;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    position: absolute;
    left: 25%;
    width: 50%;
    text-transform: capitalize;
    border-radius: 10px;
}

.title {
    text-align: center;
}

.guesses-count {
    text-align: center;
    margin-bottom: 0%;
}

.hangman-container {
    position: relative;
    padding: 20px;
}

.hangman-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vh;
}

.hangman {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hiddenAnswer {
    text-align: center;
}

.keyboard {
    position: relative;
    padding-top: 0%;
    align-items: center;
}

.keyboardRow {
    text-align: center;
}

.key {
    display: inline-block;
    border: 2px solid black;
    padding: 1.6%;
    background-color: #2B3035;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    font-size: 105%;
    font-family: Arial;
    border-radius: 10%;
}

.key:hover {
    background-color: #5C5C5C;
    color: white;
    cursor: pointer;
}

.keyPressed {
    background-color: #111111;
    display: inline-block;
    border: 2px solid black;
    padding: 1.6%;
    margin-bottom: 5px;
    color: #AAAAAA;
    font-size: 105%;
    font-family: Arial;
    border-radius: 10%;
}

.wordle-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin: 20px auto;
    max-width: fit-content;
}

.square {
  background-color: white;
  border: 3px solid #CCCCCC;
  width: 43px;
  height: 41px;
  padding-top: 7px;
  text-align: center;
  font-weight: bold;
  font-size: 95%;
  font-family: Arial;
}

.level-end {
	display: flex;
	position: absolute;
	width: 50%;
	height: 30%;
	left: 25%;
	top: 65%;
	background-color: green;
	border-radius: 10px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	font-size: 300%;
	color: #FFFFFF;
}
#level-completed {
	position: absolute;
	top: 70%;
	font-size: 50%;
}

#answer {
    font-weight: bold;
    position: absolute;
	top: 10%;
	font-size: 50%;
}

#definition {
    position: absolute;
	font-size: 25%;
	padding: 5%;
}

.top {
	position:absolute;
	animation:slide-up 1.5s ease-out;
}
@keyframes slide-up {
	from{bottom:-1000px} to{bottom:10%}
}

.main {
    max-width: 800px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

@media (max-width: 991px) {
    .navbar-collapse {
        display: flex !important; /* Use 'flex' if your navbar items are flex items */
        flex-wrap: nowrap; /* Prevent navbar items from wrapping */
        visibility: visible !important;
    }
    .navbar-nav {
        flex-direction: row;
        width: 100%; /* Take the full width of the navbar */
        justify-content: space-around; /* Distribute space around items */
    }
    .nav-item {
        flex: 1; /* Grow each nav item to take equal space */
        text-align: center; /* Center text within each nav item */
    }
    .nav-link {
        font-size: 0.5rem; /* Optionally reduce font size for space */
        flex-grow: 1;
    }
}
