#map-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100%; /* Take full height of the body */
}
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
@media (max-width: 991px) {
    .navbar-collapse {
        display: flex !important; /* Use 'flex' if your navbar items are flex items */
        flex-wrap: nowrap; /* Prevent navbar items from wrapping */
        visibility: visible !important;
    }
    .navbar-nav {
        flex-direction: row;
        width: 100%; /* Take the full width of the navbar */
        justify-content: space-around; /* Distribute space around items */
    }
    .nav-item {
        flex: 1; /* Grow each nav item to take equal space */
        text-align: center; /* Center text within each nav item */
    }
    .nav-link {
        font-size: 0.5rem; /* Optionally reduce font size for space */
        flex-grow: 1;
    }
}

