
.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95.5%;
    padding: 0.1rem 2rem 0.1rem 2rem;
    border-bottom-width: 1px;
    background-color: rgb(229 231 235);
}

a {
    color: #222222;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0e9de; /* Light green background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0e9de;
}

